/* create variables */
:root {
    --col-bg: #1e1e1e;
    --col-bg2: #252525;
    --col-bg3: #323232;
}
/* normalize margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  
========================
        Main CSS
========================
*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--col-bg);
    height: 100%;
}

/*  
======================
        Header
======================
*/

header {
    position: static;
    width: 100%;
    height: 4rem;
    display: flex;
    background: var(--col-bg3);
    align-items: center;
    padding: 0 1.5rem;
}
header .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    width: 4rem;
    margin-right: 1%;
}
header span {
    font-family: 'MinecraftiaRegular';
    font-size: 1.3rem;
}
header nav {
    position: absolute;
    right: 10rem;
    width: 30%;
}
header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
header a {
    text-decoration: none;
    color: #cccccc;
    font-size: 18px;
    padding: 0.5rem;
    transition: text-shadow 0.25s ease;
}
header a:hover {
    text-shadow: 0 0 10px #eee;
}

/*  
=======================
        Columns
=======================
*/

.col1, .col2 {
    margin-top: 1rem;
    padding: 0 2rem 0 2rem;
    float: left;
    width: 50%;
    height: 87vh;
}

.inputs:after {
    content: "";
    display: table;
    clear: both;
}

.col1 {
    border-right: 1px solid var(--col-bg3);
}
.col2 {
    border-left: 1px solid var(--col-bg3);
}

.col1 h1, .col2 h1 {
    color: white;
    font-family: 'Roboto';
}
.col1 h1 {
    text-align: right;
}

/*  
=================================
        Minecraft Formats
=================================
*/
.cm-black, .black { color: #000; }
.cm-dark_blue, .dark_blue { color: #00a; }
.cm-dark_green, .dark_green { color: #0a0; }
.cm-dark_aqua, .dark_aqua { color: #0aa; }
.cm-dark_red, .dark_red { color: #a00; }
.cm-dark_purple, .dark_purple { color: #a0a; }
.cm-gold, .gold { color: #fa0; }
.cm-gray, .gray { color: #aaa; }
.cm-dark_gray, .dark_gray { color: #555; }
.cm-blue, .blue { color: #55f; }
.cm-green, .green { color: #5f5; }
.cm-aqua, .aqua { color: #5ff; }
.cm-red, .red { color: #f55; }
.cm-light_purple, .light_purple { color: #f5f; }
.cm-yellow, .yellow { color: #ff5; }
.cm-white, .white { color: #fff; }
.cm-strikethrough, .strikethrough { text-decoration: line-through; }
.cm-underline, .underline { text-decoration: underline; }
.cm-bold, .bold { font-weight: bold; }
.cm-italic, .italic { font-style: italic; }

.cm-special, .special {
    position: relative;
    border: 1px dotted currentColor;
}
.cm-special::before, .special::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: currentColor !important;
    opacity: 0.2;
}

.tooltip .black { text-shadow: 0.125em 0.125em #0004; }
.tooltip .dark_blue { text-shadow: 0.125em 0.125em #00a4; }
.tooltip .dark_green { text-shadow: 0.125em 0.125em #0a04; }
.tooltip .dark_aqua { text-shadow: 0.125em 0.125em #0aa4; }
.tooltip .dark_red { text-shadow: 0.125em 0.125em #a004; }
.tooltip .dark_purple { text-shadow: 0.125em 0.125em #a0a4; }
.tooltip .gold { text-shadow: 0.125em 0.125em #fa04; }
.tooltip .gray { text-shadow: 0.125em 0.125em #aaa4; }
.tooltip .dark_gray { text-shadow: 0.125em 0.125em #5554; }
.tooltip .blue { text-shadow: 0.125em 0.125em #55f4; }
.tooltip .green { text-shadow: 0.125em 0.125em #5f54; }
.tooltip .aqua { text-shadow: 0.125em 0.125em #5ff4; }
.tooltip .red { text-shadow: 0.125em 0.125em #f554; }
.tooltip .light_purple { text-shadow: 0.125em 0.125em #f5f4; }
.tooltip .yellow { text-shadow: 0.125em 0.125em #ff54; }
.tooltip .white { text-shadow: 0.125em 0.125em #fff4; }

/*  
=======================
        Editors
=======================
*/
/* Labels */
.inputs label {
    margin: 1rem 0 3rem 0;
    color: white;
}
/* Editor windows */
.CodeMirror.cm-s-default {
    margin: 1rem 0 3rem 0;
    padding: 0.2rem;
    height: 303px;
    width: 100%;
    background: var(--col-bg);
    border: 1px solid var(--col-bg3);
    color: #aaa;
    font-size: 16px;
}
#editor-name + .CodeMirror.cm-s-default {
    height: 72px;
}
.CodeMirror-placeholder {
    color: #777;
}
/* cursor */
.CodeMirror-cursor {
    border-left: 1px solid white !important;
    border-right: none;
    width: 0;
}
/* scrollbar */
.CodeMirror-hscrollbar {
    background: var(--color-bg);
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*  
===========================
        Cheat Sheet
===========================
*/
.cheat-sheet {
    padding: 0.2rem;
    background: var(--col-bg);
    border: 1px solid var(--col-bg3);
    width: 100%;
    font-family: 'Fira Mono', monospace;
}
.cheat-sheet table {
    width: 100%;
}
.cheat-sheet td {
    width: 50%;
}
.cheat-sheet .line td {
    border-top: 1px solid var(--col-bg3);
    padding-top: 0.2rem;
}

/*  
========================
        Preview
========================
*/
.tooltip {
    width: max-content;
    height: max-content;
    position: relative;
    top: 2rem;
    color: #aaa;
    background-color: rgba(16, 0, 16, 0.94);
    padding: 0.375em;
    padding-bottom: 0.6em;
    font-family: 'MinecraftiaRegular';
    font-size: 1.25rem;
    word-spacing: 4px;
    white-space: nowrap;
    line-height: 1.25em;
    margin-top: 2rem;
    margin: 0.125em 0.25em;
    pointer-events: none;
    z-index: 9999;
}

.tooltip::before {
    content: "";
    position: absolute;
    top: 0.125em;
    right: -0.125em;
    bottom: 0.125em;
    left: -0.125em;
    border: 0.125em solid #100010;
    border-style: none solid;
    border-color: rgba(16, 0, 16, 0.94);
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 0.125em;
    right: 0;
    bottom: 0.125em;
    left: 0;
    border: 0.125em solid #2D0A63;
    border-image: -webkit-linear-gradient(rgba(80, 0, 255, 0.31), rgba(40, 0, 127, 0.31)) 1;
    border-image: linear-gradient(rgba(80, 0, 255, 0.31), rgba(40, 0, 127, 0.31)) 1;
}

.tooltip > #tooltip-desc {
    display: block;
    margin-top: 0.25em;
}
.tooltip > span {

}


/*  
======================
        Footer
======================
*/

footer {
    font-weight: 400;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    height: 3vh;
    width: 100%;
    color: #777;
    font-size: 13px;
    background: var(--col-bg3);
    display: flex;
    align-items: center;
    justify-content: center;
}